@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  padding: 20px;
  box-sizing: border-box;
  font-family: arial;
  background:#ccc;
  background-size: cover;
}

header img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  width: 200px;
  border: 5px solid #fff;
}

aside {
  border-top: 0px solid red;
  border-bottom: 0px solid red;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  height: 250px;
  width: 250px;
  background:#E59FE0;  
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 100px 10px #fff;
  transition: all ease 0.3s;
}

	aside:hover {
	  border-top: 4px solid #AA56A3;
	  border-bottom: 4px solid #AA56A3;
	  border-radius: 15px;
	  height: 520px;
	  width: 350px;
	  box-shadow: 0 0 70px 10px #fff;
	}

		aside:hover header img {
		  animation: profile_image 2000ms linear both;
		  animation-delay: 0.5s;
		}

header {
  text-align: center;
}

header h1 {
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 10px;
  transition: all ease 0.250s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

	aside:hover header h1 {
	  margin-top: 0px;
	  outline: 0 solid #fff;
	  border-top: 0px solid #fff;
	  border-bottom: 1px solid #fff;
	}

header h2 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  transition: all linear 1.5s;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  text-align: center;
   
}

	aside:hover .bio {
	  opacity: 4;
	}

.profile-bio p:first-child {
  text-align: center;
  font-size: 16px;
}

.social {
  position: relative;
  margin-top: -440px;
  margin-left: -100px;
  list-style-type: none;
  opacity: 0;
  transition: all ease 0.5s;
}
aside:hover .social{
    margin-left: -30px;
    opacity: 1;
}
.social li i{
    font-size: 30px;
    background: #fff;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    color: #000;
}
.butao{
    background-color: #AA56A3;
    border: none;
    border-radius: 15px;
    padding: 13px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 25%;
}

.butao a{
  text-decoration: none;
  color:  black;
}

.botazinho{
    background-color: white;
    color: black;
    border: 2px solid #4caf50;

}
	.botaozinho:hover{
	    background-color: purple;
		color:white;
	}
